.leaflet-page{
    width: 100%;
    height: 100%;
    display: flex;
}

.map-container{
    width: 100%;
    height: 100%;
}

.map{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.map-controller{
    width: 320px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    overflow: auto;
}

.map-controller-switch{
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.map-controller-button{
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.map-background-image{
    background-image: url("/assets/house.png");
    background-size:100% 100%;
}

