
.card{
  height: 140px;
  margin-bottom: 24px;
}
.xl-card{
  height: 424px;
  margin-bottom: 24px;
}

.lg-card{
  height: 200px;
  margin-bottom: 24px;
}

.lg-card-12{
  height: 480px;
  margin-bottom: 24px;
}

.xxl-card{
  height: 440px;
  margin-bottom: 24px;
}

.m-card{
  height: 320px;
  margin-bottom: 24px;
}